/* General reset and container styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

/* Header container styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.header-container h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-customer-btn {
  background-color: #4070f4;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-customer-btn:hover {
  background-color: #265df2;
}

/* Main card container styles */
.main-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards container styles */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Card styles */
.card {
  background-color: #fff;
  width: calc(100% / 3 - 40px);
  max-width: 320px;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Content inside each card */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img {
  height: 130px;
  width: 130px;
  margin-bottom: 14px;
  cursor: pointer;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: #265df2;
  padding: 3px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}

.details button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 5px;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #265df2;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Two cards per row */
  .card {
    width: calc(100% / 2 - 30px); /* Adjust width for two cards per row */
  }
}

@media (max-width: 768px) {
  /* One card per row */
  .card {
    width: 100%; /* Full width for one card per row */
  }

  /* Adjust header layout on smaller screens */
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-container h1 {
    margin-bottom: 10px;
  }

  .header-container .add-customer-btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  /* Further adjustments for very small screens */
  .img {
    height: 100px;
    width: 100px;
  }

  .name {
    font-size: 18px;
  }

  .details button {
    font-size: 14px; /* Smaller font size for buttons */
  }
}
