<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="main-home">
      <div class="main-text">
        <h5>Customers' collection</h5>
        <h1>There are different kinds of items for Customers</h1>
        <p>There's Nothing like shopping</p>
        <a  (click)="navigateToLogin()" class="main-btn">Login <i class='bx bx-right-arrow-alt'></i></a>
      </div>
    </section>
  </body>
</html>

